body {
  font-size: .9em;
  line-height: 1.2em;
  background: $background;
  font-family: $font-family;
}

nav {
 @include navigation;
}

.user-avatar img {
  -moz-border-radius: 4em / 4em;
  -webkit-border-radius: 4em 4em;
  border-radius: .5em / .5em;
  float: left;
  margin-left: .2em;
  margin-top: 0.2em;
  width: 30px;
}

.icon-reorder {
  padding: .8em 1em;
  color: $light;
  border-radius: 0 .4em .4em 0;
  float: right;
}

.drop {
  position: relative;
  font-size: 1em;
  cursor: pointer;
}

.drop a {
  font-weight: 400;
  line-height: 2.5em;
  padding: 0 1em;
  color: $light;
  text-decoration: none;
}

.triangle {
  width: 0;
  height: 0;
  position: absolute;
  border-left: .4em solid transparent;
  border-right: .4em solid transparent;
  border-top: .4em solid $primary;
  left: 89.5%;
  margin-left: -.4em;
  opacity: 0;
  &:hover {
	opacity: 1;  
  }
}

.dropdownContain {
  width: 13em;
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-left: -6.5em;
  /* half of width */
  top: -300px;
}

.dropOut {
  width: 13em;
  background: $primary;
  float: left;
  position: relative;
  margin-top: 0;
  opacity: 0;
  -moz-border-radius: 0.4em / 0.4em;
  -webkit-border-radius: 0.4em 0.4em;
  border-radius: 0.4em / 0.4em;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.75);
  overflow: hidden;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.dropOut ul {
  padding: .3em 0;
  margin: 0;
}

.dropOut li {
  text-align: left;
  width: 100%;
  padding: 0.6em 0;
  color: $light;
  border-left: 3px solid $primary;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}




.dropOut li span {
  color: $light;
  margin: 0 1.5em 0 .8em;
	  &:hover {
		border-color: $primary-light;
	  color: $light;
	  background: $primary-light;
		&:span {
		  color: $light;
  }
  }
}


ul li:hover .dropdownContain {
  top: 30px;
}

ul li:hover .dropOut {
  opacity: 1;
  margin-top: 20px;
}

.orange-txt {
  background-color: $primary;
  &:hover {
	  background: $primary-light;
  }
}